body{
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #7E9AE6;
    background-color: #FBDCEA;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #7E9AE6, #7E9AE6 1px, #FBDCEA 1px, #FBDCEA);
}

p{
    z-index: 2;
}

.container{
    max-width: 100vw;
    margin: 0 auto
}

.post{
    place-content: center;
    margin-bottom: 20px;
    padding: 50px 20px;
}

.split-parent{
    place-content: center;
    min-width: 70vw;
    margin: 0px 10em;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    
    margin-bottom: 1em;

    border: 40px solid transparent;
    border-image: url(../assets/border.png) 100;
    border-image-repeat: round;
    border-radius: 10px;
    position: relative;
}

.split-parent.text-image{
    grid-template-columns: 1fr auto;
}

.split-parent.image-text{
    grid-template-columns: 1fr 2fr;

    img{
        width: 150px;
        height: auto;
      }
}

.split-parent.image-text.caption{
    text-align: center;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.split-parent.three-images{
    grid-template-columns: auto auto auto;
}

.split-parent.three-gifs{
    grid-template-columns: auto auto auto;
}

.split-parent.two-images{
    grid-template-columns: 1fr 1fr;
}

.split-parent.one-image{
    grid: auto;

    h2{
        z-index: 2;
    }
}

.split-parent::before {
    z-index: 1;
    content: '';
    position: absolute; 
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px; 
    background-color: white; 
    border-radius: 10px; 
  }

.split-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 2;
    min-width: 1em;
    padding: 10px 20px;

    img{
        width: 250px;
        height: auto;
    }
    
    h2{
    
        font-size: 50px;
        margin: 0;
        text-transform: uppercase;
    }

}

.caption{
    z-index: 2;
    padding: 0px 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 4;
}

.small-caption{
    z-index: 2;
    padding: 0px 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  
}

.big-image{
    img{
        height: 100px;
        width: auto;
    }
}









