body{
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FBDCEA;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #7E9AE6, #7E9AE6 1px, #FBDCEA 1px, #FBDCEA);
}
