body{
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #7E9AE6;
    background-color: #FBDCEA;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #7E9AE6, #7E9AE6 1px, #FBDCEA 1px, #FBDCEA);
}

.container {
    max-width: 100vw;
    margin: 0 auto
  }

.post{
    margin-bottom: 20px;
    padding: 50px 20px;
}

.frame{
    margin: 50px;
    border: 1px solid #7E9AE6;
    border-radius: 20px;
    background-color: white;
}

.row-parent{
    margin: 0px 100px;
    display: grid;
    grid-template-rows: auto;
    gap: 1em;
  
    background-color: white;
    border: 1px solid #7E9AE6;
    border-radius: 10px;
}

.row-child{
  display: grid;
  place-content: center;
  min-height: 1em;
  padding: 10px 20px;

  img{
    width: 325px;
    height: auto;
  }

  h2{
    font-size: 100px;
    text-transform: uppercase;
    margin: 0;
  }
}

.button {
    border-radius: 15px;
    background-color: #FBDCEA;
    color: #7E9AE6;
    padding: 5px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 10px;
    cursor: pointer;
  }

.button a {
    font-size: 25px;
    text-decoration: none;
    color: #7E9AE6;
    transition: all 0.3s ease 0s;
  }
  
.button a:hover {
    color: white;
  }


  