body{
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FBDCEA;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #7E9AE6, #7E9AE6 1px, #FBDCEA 1px, #FBDCEA);
}

.container {
    max-width: 100vw;
    margin: 0 auto
  }

.frame{
    margin: 50px;
    border: 1px solid #7E9AE6;
    border-radius: 20px;
    background-color: white;
}

.cloud{
    border: 15px solid white;
    margin-bottom: 20px;
    border-image:url(../assets/border.svg) 40 round round;
  }

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.content p {
    font-size: 100px;
    font-weight: bold;
    color: #7E9AE6;
    margin: 0;
}

.content img{
    width: 20%;
    height: auto;
}

.button {
    border-radius: 15px;
    background-color: #FBDCEA;
    color: #7E9AE6;
    padding: 0px 10px 0px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 800px;
    margin: 20px 10px;
    cursor: pointer;
  }

.button a {
    text-decoration: none;
    color: #7E9AE6;
    transition: all 0.3s ease 0s;
  }
  
.button a:hover {
    color:#73DCE6;
  }


  